/*------------------------------------*\
  #ICONS

  https://icons.modulz.app
\*------------------------------------*/

.icon {
  width: 25px;
  height: 25px;
  fill: var(--linksColor);
  transition: .3s ease-in;
}

.icon-admin {
  width: 20px;
  height: 20px;
}