{{ define "base" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/dist/main.css">
        <title>Away - Home Page</title>

        {{ block "css" . }}

        {{end}}
    </head>
    <body>

    <!-- Main Content -->
    {{ block "content" .}}

    {{ end}}


    {{ block "js" .}}

    {{ end }}
    </body>
    </html>
{{ end }}