{{ template "base" . }}

{{define "content"}}
    <!-- Section Hero image -->
    <section class="hero-img">
        <div class="hero-copy">
            <h1>
                <span>Find your Home</span>
                <span>Away from Home</span>
            </h1>
            <button class="btn btn-primary btn-large mt-30">Book your stay now</button>
        </div>
        <img src="/static/images/hotel-bedroom-hero.jpg" alt="hotel picture 4">
    </section>

    <!-- Section Welcome -->
    <section class="section-welcome container">
        <div class="section-welcome--wrapper">
            <div class="section-welcome--text">
                <h2>Welcome to Away</h2>
                <p>We provide a network of exclusive, one-of-a-kind holiday homes to help you plan a safe, relaxing and unforgettable vacation.</p>
                <button class="btn btn-primary btn-medium mt-20 max-content">Explore our houses</button>
            </div>
            <div class="section-welcome--images">
                <img src="/static/images/hotel-1.jpg" alt="hotel picture 1">
                <img src="/static/images/hotel-7.jpg" alt="hotel picture 2">
                <img src="/static/images/hotel-8.jpg" alt="hotel picture 3">
                <img src="/static/images/hotel-9.jpg" alt="hotel picture 4">
            </div>
        </div>
    </section>
{{end}}



